.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#container {
  margin-top: 200px;
  margin-bottom: 20px;
}

/* Style for the status paragraph */
#status {
  font-weight: bold;
  color: #333; /* Change the color to your preference */
}

/* Additional styles for individual components if needed */
/* e.g., if you want to limit the width of a specific component */
/*
.DrawTicket {
  max-width: 400px;
}
*/
