/*------------- COSTANTS -------------*/
:root {
  --color-bg: #313c33;
  --color-bg-buttons: #5E1E25;
  --color-bg-buttons-selected: #49171d;
  --color-text: #f6eddf;
  /*text*/
  --color-input: #EFD1A5;
  /*input bg*/
  --color-text-input: #313c33;
  /*user text inside input*/
  --color-placeholder-1: #313c33;
  /*placeholder inside input*/
  --color-placeholder-2: #f6eddf;
  /*text that moves over the input*/
  --color-placeholder-red: #dc2f55;
  /*text that moves over the selected input*/

  --transition: transform 200ms;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
  font-size: 16px;
  /* background-image: url("./assets/background.jpg");
  background-size: cover; */
  width: auto;
  background-color: var(--color-bg);
  padding-bottom: 100px;
}

/* FOR THE COMPONENTS */

.christmas-lottery-comp {
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.title {
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 20px;
}

.subtitle {
  color: var(--color-text);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

a {
  color: inherit;
}

a:hover {
  color: blue;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: var(--color-input);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--color-text-input);
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: var(--color-bg);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: var(--transition);
  width: 76px;
}

.cut-short {
  width: 50px;
}

.cut-long {
  width: 115px;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  /* position of the background */
  transform: translateY(-1px);
}

.placeholder {
  color: var(--color-placeholder-1);
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: var(--transition), color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  /* position of the text */
  transform: translateY(-40px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: var(--color-placeholder-2);
}

.input:focus~.placeholder {
  color: var(--color-placeholder-red);
}

.submit {
  background-color: var(--color-bg-buttons);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--color-text);
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: var(--color-bg-buttons-selected);
}

.top-bar {
  display: flex;
  flex-direction: row;
}

.reset-buttons {
  display: flex;
  flex-direction: row;
}